@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a0a0a;
  color: white;
}

@layer base {
  * {
    user-select: none;
  }

  button, a {
    cursor: pointer;
  }
}

.grid-bg {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#ffffff10 1px, transparent 1px),
                    linear-gradient(90deg, #ffffff10 1px, transparent 1px);
  background-size: 60px 60px;
  animation: moveGrid 20s linear infinite;
}

@keyframes moveGrid {
  from { transform: translateY(0); }
  to { transform: translateY(60px); }
}